.App {
  text-align: center;
}

.App-logo {
  padding-top: 20px;
  height: 15vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-table {
  font-size: calc(1px + 2vmin);
  width: 95%;
}

.App-link {
  color: #09d3ac;
}
